# IDE Files
.idea

# Example Files

# Fatorial
fatorial/hello.txt
fatorial/hello2.txt
fatorial/hello3.txt
fatorial/node_modules/*
fatorial/dist/*
fatorial/package-lock.json

# Meat API
meat-api/package-lock.json
meat-api/node_modules/*
meat-api/dist/*

